@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    display: flex;
    justify-content: space-between;
}

/* Add your color styles for buttons */
.color1 {
    background-color: rgb(187, 79, 79);
    color: white;
}

.color2 {
    background-color: brown;
    color: green;
}
